language: php

php:
  - 5.3.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

  exclude:
    - php: hhvm
      env: PHP_BIN=php-cgi

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source --dev
  - vendor/bin/parallel-lint -e php,phpt --exclude vendor .
  - vendor/bin/phpcs src --standard=src/ZenifyCodingStandard/ruleset.xml
  - vendor/bin/phpcs src --standard=vendor/mikulas/code-sniffs/cs/ruleset.xml --sniffs=cs.Debug.DebugFunctionCall,cs.Formatting.UseInAlphabeticalOrder,cs.Formatting.UseWithoutStartingSeparator

script:
  - vendor/bin/tester -c=tests/php-unix.ini tests

after_failure:
  - 'for i in $(find ./tests -name \*.actual); do echo "--- $i"; cat $i; echo; echo; done'
