<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    convertErrorsToExceptions="true"
    syntaxCheck="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="Code Sniffer tests">
            <directory>tests/ZenifyTests/ZenifyCodingStandard</directory>
        </testsuite>
        <testsuite name="Mess Detector tests">
            <directory>tests/ZenifyTests/ZenifyMessDetector</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage.clover"/>
    </logging>
</phpunit>
